.container>h1 {
  text-align: center;
  font-family: Fredericka the Great;
  font-size: 350%;
  text-decoration: underline;
  color: red;
}

body {
  background-color: black;
  background-image: url('../images/pig-emoji-collection-1-008.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.well {
  opacity: 0.88;
}

.well>h3 {
  text-align: center;
  font-family: Permanent Marker;
  text-decoration: underline;
}

.well>h3:hover {
  color: red;
  cursor: pointer;
  font-family: Kaushan Script;
}

#rules>h4 {
  text-decoration: underline;
  font-family: Wendy One;
}

.jumbotron {
  opacity: 0.88;
}

.jumbotron>h2 {
  text-align: center;
  font-family: Permanent Marker;
  text-decoration: underline;
  color: blue;
}

.jumbotron>p {
  font-family: Merienda One;
  font-style: italic;
}

#game>strong {
  text-decoration: underline;
}

#game>strong:hover {
  color: red;
  cursor: pointer;
}

.play>h4 {
  text-align: center;
  font-family: Permanent Marker;
}

.start>a {
  font-family: Aclonica;
  text-decoration: underline;
  color: blue;
  font-size: 150%;
}

.start>a:hover {
  cursor: pointer;
  font-style: italic;
}

#P1 {
  text-align: center;
  background-color: yellow;
}

#P2 {
  text-align: center;
  background-color: red;
}

#P {
  text-align: center;
}
